body {
  overflow: hidden;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

#wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 2px;
}

.padded {
  padding: 20px;
}

#daytime-container {
  font-size: 60px;
}

.weather-container {
  margin-bottom: 30px;
}

.weather-day-item {
  display: inline-block;
  padding: 0 20px;
}

.temp {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.min-temp {
  display: inline-block;
  margin-right: 15px;
}

.max-temp {
  display: inline-block;
}

.condition {
  margin-bottom: 10px;
}

#trains-container {}

#train-time-to-old {}

#train-time-to-nsg {}

.time-block {
  display: inline-block;
  padding: 0 20px;
}

.std {}

.etd {}
