body {
  overflow: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

svg {
  fill: currentColor;
}

.padded {
  padding: 20px 0;
}

#wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 2px;
  min-width: 1000px;
  max-width: 80%;
}

#go-to-options {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}

.daytime-wrapper {
}

.daytime-container {
  font-size: 40px;
}

.weather-and-trains-wrapper {
  display: inline-table;
  width: 100%;
}

.weather-container {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

.weather-icon-anchor {
  padding: 0 30px;
}

.weather-icon {
  width: 64px;
  position: relative;
  top: -25px;
}

.weather-day-item {
  display: inline-block;
  padding: 0 30px;
}

.temp {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.min-temp {
  display: inline-block;
  margin-right: 15px;
}

.max-temp {
  display: inline-block;
}

.condition {
  margin-bottom: 10px;
}

.trainline-logo {
  display: inline-block;
  position: relative;
  top: 3px;
}

.train-title {
  display: inline-block;
  font-size: 16px;
}

.trains-to-old {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}

#train-time-to-old {}

.trains-to-nsg {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;  
}

#train-time-to-nsg {}

.time-block {
  display: inline-block;
  padding: 0 26px;
  min-width: 90px;
}

.std {
  margin-bottom: 8px;
}

.etd {}

.issues-container {
  display: inline-block;
  text-align: left;
  width: 60%;
  padding-left: 30px;
  vertical-align: middle;
}

.issues-title {
  display: inline-block;
  border-radius: 1px;
  margin: 0 auto;
  padding: 0 18px 10px 2px;
  font-size: 16px;
}

.issues-notifications {
  top: 3px;
  position: relative;
}

.issues-notifications-bluedot {
  width: 12px;
  height: 12px;
  background-color: #7daed6;
  position: relative;
  display: inline-block;
  top: 9px;
  left: -10px;
  border-radius: 50%;
  border: 2px solid black;
}

.octocat-icon {
  width: 40px;
  margin-right: 15px;
  top: 5px;
  position: relative;
}

.anchor-container {
  border-radius: 1px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
}

.issue-icon {
  display: inline-block;
  padding-right: 10px;
  color: #28a745;
}

.issue-icon-svg {}

.issue {
  font-size: 16px;
}

.issue-comment-icon {
  display: inline-block;
  margin-left: 20px;
}

.issue-comment-number {
  display: inline-block;
  margin-left: 4px;
}

.issue-label {
  margin-left: 20px;
  display: inline-block;
  padding: 3px 4px;
  font-size: 12px;
  line-height: 1;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
  background-color: #7bbfef;
  color: white;
  top: -1px;
  position: relative;
}

.issue-info {
  padding-top: 6px;
}

.news-container {
  display: inline-block;
  width: 39%;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
  padding-right: 30px;
}

.news-header {
  margin-bottom: 30px;
}

.news-icon {
  position: relative;
  margin-right: 15px;
  width: 64px;
  top: 24px;
}

.news-item {
  margin-bottom: 6px;
}

.news-item-anchor {}

#shortcuts-container {
  font-size: 14px;
}

.shortcut-anchor {
  width: 12%;
  display: inline-block;
}

.bitcoin-icon {
  position: relative;
  width: 18px;
  top: 3px;
}
